<h1>Students List</h1>

<ul>
  <li><a href="/student/horacio">Horacio</a></li>
  <li><a href="/student/martha">Martha</a></li>
  <li>Matthew</li> 
  <li>Yerim</li>
  <li>FutureMan</li>
  <li>Luis</li>
  <li>Tammy</li>
  <li>Charles</li>
</ul>